@cahrset "utf-8";

body{
    margin: 0px;
    padding: 0px;
    background-color: #161616;
    box-sizing: border-box;

}

ul{
    list-style:none;
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration:none;
}

.main{
    width:100%;
    height: 100vh;
    background-color:#edf1fd;
    box-sizing: border-box;

}

nav{
    display:flex;
    flex-direction:row;
    width:100vw;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight:600;
    font-family: calibri;
    position: fixed;
    padding: 15px 50px;
    background-color: #f4f7ff;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.05);
    top:0;
    right:0;
    z-index:1;
    box-sizing: border-box;
}

.menu{
    display:flex;
    margin:0;
}

.menu li a{
    padding: 10px 20px;
    color:#6c707c;
    font-size: 16px;
}

.lang{
    color:#292929;
    font-size: 18px;
}

.logo{
    font-size: 28px;
    font-weight: bold;
    color: #292929;
    font-family: Poppins;
}

.menu li a:hover,
.active {
    background-color:#292929;
    color:#ffffff !important;
    font-weight: 700;
    transition: all ease 1s;
}


